.pag-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style:none;
    margin: 20px;
    width: 40px;
}

.pag-btn {
    border: 1px whitesmoke solid;
    font-family: 'Minecraft', sans-serif;
    font-size: larger;
    width: 40px;
    height: 40px;
    background-color: black;
    color:whitesmoke;
    border-radius: 50%;
    
}

.pag-btn:hover {
    background-color: whitesmoke;
    color: black;
    border: 1px black solid;
}