.about {
    margin-top: 0px;
    font-family: 'Minecraft', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
.about h1 {
    font-size: 25px;
    color: rgb(5, 5, 5);
    padding: 20px;
    border-radius: 10px;
    background-color: gainsboro;
    border: 2px solid rgb(5, 5, 5);
    
}
.about h2 {
    font-size: 25px;
    color: rgb(5, 5, 5);
    padding: 20px;
    border-radius: 10px;
    background-color: gainsboro;
    border: 2px solid rgb(5, 5, 5);
}