.container-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.selectCont {
  font-family: 'Minecraft', sans-serif;
  text-shadow: #0c0c0c 0px 0px 10px;
  letter-spacing: 5px;
  display: block;;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: whitesmoke;
  font-weight: 400;
  font-size: 13px;
  background-color: rgb(14, 13, 13);
  padding: 5px 5px;
  border-radius: 10px;
  border: 3px solid #f1eeee;
}

.option {
    margin: 5px;
    font-family: 'Minecraft', sans-serif;;
}

.optionGroup {
    padding: 10px;
    font-family: 'Minecraft', sans-serif;
}