.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
  font-family: 'Minecraft PE', sans-serif;
  background-color: black;
  border-radius: 15px;
}

.myButton {
  font-family: 'Minecraft PE', sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 10px 10px ;    
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: rgb(12, 12, 12);
	border-radius: 7px;
  font-size: 50px;
  width: auto;
}

.img{
  margin-top: 5%;
}

.myButton:hover {
  background-color: rgb(12, 12, 12);
  color: white;
} 